.kleinste-tekst{
    font-size: 11px;
    }
    .tweede-kleinste{
        font-size:13px;
    }
    .derde-kleinste{
        font-size: 15px;
    }
    .vierde-kleinste{
        font-size: 17px;
    }
    .vijfde-kleinste{
        font-size: 19px;
    }
    .zesde-kleinste{
        font-size: 21px;
    }